# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Environment variables
.env

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Data files
data/local_database.db
data/local_stats.json
data/*.json
data/*.pid

# Keep specific files (uncomment if needed)
# !data/important.json
